<% include layout/top.ejs %>
<link rel="stylesheet" href="/trumbowyg/ui/trumbowyg.min.css">
<link rel="stylesheet" href="/stylesheets/dropzone.min.css">
<link rel="stylesheet" href="/bootstrap-multiselect/bootstrap-multiselect.min.css">
<div class="col-md-9">

    <div class="form-group">
        <label>Previw</label>
        <form action="/upload" class="dropzone" id="my-great-dropzone"></form>
    </div>

    <form method="post">
        <input type="hidden" name="preview" id="preview">
        <div class="form-group">
          <label for="title">Title</label>
          <input name="title" type="text" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="categories">Categories: </label>
            <select id="categories" multiple="multiple">
                <% categories.forEach(function(category) { %>
                    <option value="<%= category.id %>"><%= category.label %></option>
                <% }); %>
            </select>
        </div>

        <div class="form-group">
            <label for="announcement">Article announcement</label>
            <textarea name="announcement" class="form-control" id="announcement" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="editor">Article text</label>
            <div id="editor"></div>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="publish">
            <label name="publish" class="form-check-label" for="publish">Publish</label>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script src="/trumbowyg/trumbowyg.min.js"></script>
<script src="/trumbowyg/plugins/upload/trumbowyg.upload.min.js"></script>
<script src="/javascripts/dropzone.min.js"></script>
<script src="/bootstrap-multiselect/bootstrap-multiselect.min.js"></script>
<script>
    $('#editor').trumbowyg({
      btnsDef: {
        // Create a new dropdown
        image: {
          dropdown: ['insertImage', 'upload'],
          ico: 'insertImage'
        }
      },
      btns: [
        ['viewHTML'],
        ['formatting'],
        ['strong', 'em', 'del'],
        ['superscript', 'subscript'],
        ['link'],
        ['image'], // Our fresh created dropdown
        ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
        ['unorderedList', 'orderedList'],
        ['horizontalRule'],
        ['removeformat'],
        ['fullscreen']
      ],
      plugins: {
        upload: {
          serverPath: '/upload',
          fileFieldName: 'image'
        }
      }
    });
</script>
<script>
  const preview = document.getElementById('preview');
  Dropzone.options.myGreatDropzone = {
    paramName: "image",
    maxFilesize: 2,
    maxFiles: 1,
    addRemoveLinks: true,
    init: function() {
      this.on('addedfile', function(file) {
        if (this.files.length > 1) {
          this.removeFile(this.files[0]);
        }
      });
    },
    success: function (file) {
      preview.value = JSON.parse(file.xhr.response).file;
    },
    removedfile: function(file) {
      file.previewElement.remove();
      preview.value = '';
    }
  };
  $(document).ready(function() {
    $('#categories').multiselect();
  });
</script>
<% include layout/bottom.ejs %>