body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.single_post {
  text-decoration: none;
  color: inherit;
}

.single_post:hover {
  text-decoration: none;
  color: inherit;
}