<div class="card">
    <div class="header">
        <h2>Категорії</h2>
    </div>
    <div class="body widget">
        <ul class="list-unstyled categories-clouds m-b-0">
            <% categories.forEach(function(category){ %>
                <li><a href="/blog/<%= category.code.toLowerCase() %>"><%= category.label %></a></li>
            <% }); %>
        </ul>
    </div>
</div>
<style>
    .right-box .categories-clouds li a:hover {
        text-decoration: none;
        color: #007bff;
        border: 1px solid #007bff;
    }
</style>