<div class="card">
    <div class="header">
        <h2>Instagram Post</h2>
    </div>
    <div class="body widget">
        <ul class="list-unstyled instagram-plugin m-b-0">
            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000"
                                                   alt="image description"></a></li>
            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000"
                                                   alt="image description"></a></li>
            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000"
                                                   alt="image description"></a></li>
            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000"
                                                   alt="image description"></a></li>
            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000"
                                                   alt="image description"></a></li>
            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000"
                                                   alt="image description"></a></li>
            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000"
                                                   alt="image description"></a></li>
            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000"
                                                   alt="image description"></a></li>
            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000"
                                                   alt="image description"></a></li>
        </ul>
    </div>
</div>