<div>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
</div>
<!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container bootstrap snippets bootdey">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-toggle"></span>
        </button>
        <a class="navbar-brand" href="#">Aplication</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          
          <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
              <i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
            <ul id="g-account-menu" class="dropdown-menu" role="menu">
              <li><a href="/admin/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /container -->
  </div>
  <!-- /Header -->
  
  <!-- Main -->
  <div class="container bootstrap snippets bootdey">
    
    <!-- upper section -->
    <div class="row">
      <div class="col-md-3">
        <!-- left -->
        <a href="#"><strong><i class="glyphicon glyphicon-briefcase"></i> Menu</strong></a>
        <hr>
        
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/admin/posts"><i class="glyphicon glyphicon-link"></i> Posts</a></li>
          <li><a href="/admin/category"><i class="glyphicon glyphicon-flash"></i> Categories</a></li>
        </ul>
        
        <hr>
        
        </div><!-- /span-3 -->